.logo {
  width: 40px;
}
#body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/035/766/578/non_2x/snowy-mountain-landscape-illustration-scenery-of-path-to-the-mountain-in-the-cold-season-winter-mountain-landscape-for-background-wallpaper-or-illustration-vector.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  background-color: #d74b7533;
}

.overlay {
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d74b7533;
}

.input input[type="text"] {
  border-radius: 20px;
}
.input-background {
  background-color: #673f6946;
  border: none;
}
.input-background:focus {
  background-color: #673f6969;
}
.SearchBTN {
  background-color: #fb6c4898;
  border: transparent;
  border-radius: 50px;
  width: 8rem;
  margin: 1rem;
}
.SearchBTN:hover {
  background-color: #d74b76;
}
.custom-card {
  background-color: #673f6976;
  border: none;
  color: #ffffff;
}
#addToFavBTN {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: white;
}

@keyframes dogFadeOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.loading-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100vw;
  height: 100vh;
  transition: opacity 0.8s ease;
  z-index: 9;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fd886d;
  opacity: 1;
}

.loading-image img {
  width: 50%;
  animation: dogFadeOut 2s;
}

/* NAVBAR */
.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fd886d;
  padding: 10px 20px;
  z-index: 1000;
}

.navbar-brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s ease;
}

.navbar-links a:hover {
  color: #ddd;
}

/* FORECAST */
.forecast-scroll-container {
  overflow-x: auto; /* Abilita lo scroll orizzontale */
  white-space: nowrap; /* Evita che le colonne vadano a capo */
}

.forecast-item {
  display: inline-block; /* Impedisce che i div di previsione vadano a capo */
  /* min-width: 150px; Imposta una larghezza minima per ogni previsione */
  text-align: center;
}

.forecast-scroll-container::-webkit-scrollbar-thumb {
  background-color: #fd886d; /* Colore della scrollbar */
  border-radius: 10px;
}

.forecast-scroll-container::-webkit-scrollbar-track {
  background-color: #eee;
}

/* CURRENT */
.location-name {
  font-size: 2.5rem;
  margin-top: 1.5rem;
}
.location-name span {
  font-size: small;
  font-weight: normal;
}
.weather-description {
  margin: auto;
  line-height: 40%;
  font-size: 1.2rem;
}
.temperature-img {
  width: 90px;
  margin-bottom: 1rem;
}
.temperature {
  font-size: 2.5rem;
}
.temperature-icon {
  font-size: 35px;
  line-height: 0%;
}
.temperature-bar {
  background: rgb(255, 0, 0);
  background: linear-gradient(
    93deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(249, 218, 42, 0.6018957345971564) 44%,
    rgba(0, 212, 255, 1) 100%
  );
  display: flex;
  flex-grow: 1;
  height: 0.5rem;
  border-radius: 10px;
}
