.logo {
  width: 40px;
}
#body {
  background-image: url(https://static.vecteezy.com/system/resources/previews/035/766/578/non_2x/snowy-mountain-landscape-illustration-scenery-of-path-to-the-mountain-in-the-cold-season-winter-mountain-landscape-for-background-wallpaper-or-illustration-vector.jpg);
  background-attachment: fixed;
  background-size: cover;
  min-height: 100vh;
  background-color: #d74b7533;
}

.overlay {
  min-height: 100vh;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d74b7533;
}
.navbar {
  background-color: #fb6c48cd;
  position: sticky;
  top: 0;
  z-index: 9;
}

.input input[type="text"] {
  border-radius: 20px;
}
.input-background {
  background-color: #673f6946;
  border: none;
}
.input-background:focus {
  background-color: #673f6969;
}
.SearchBTN {
  background-color: #fb6c4898;
  border: transparent;
  border-radius: 50px;
  width: 8rem;
  margin: 1rem;
}
.SearchBTN:hover {
  background-color: #d74b76;
}
.custom-card {
  background-color: #673f6976;
  border: none;
  color: #ffffff;
}
#addToFavBTN {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: white;
}
